@import "global.css";
/* font-family: 'DM Serif Display', serif; */
/* font-family: 'Public Sans', sans-serif; */

* {
  -webkit-tap-highlight-color: transparent;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--BgColor);
  margin: 0;
  padding: 0;
  font-family: "Public Sans", sans-serif;
  font-size: 15px;
}

/* >>>>>> Circles <<<<<<<<<< */

.circle_outer_top {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: -1;
}

.circle_top,
.circle_burger_menu,
.circle_partners_section,
.circle_footer {
  width: 780px;
  height: 780px;
  border-radius: 780px;
  position: absolute;
}

.circle_top {
  background-color: var(--CircleColor);
  top: -545px;
  left: -202px;
  z-index: -1;
}

.circle_burger_menu {
  background-color: var(--CircleBlackBg);
  top: -545px;
  left: -282px;
}

.circle_partners_section {
  background-color: var(--CircleBlackBg);
  top: -600px;
  left: calc((100vw - 780px) / 2);
  z-index: 0;
}

.circle_footer {
  background-color: var(--CircleBlackBg);
  top: 176px;
  left: -202px;
  z-index: 0;
}

/* <><><><><><><>   Burger Menu  <><><><><><><><><> */

.burger_menu_logos {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.pay_api_logo {
  margin-left: 24px;
  margin-top: 40px;
}

.burger_button {
  border: none;
  height: 17px;
  background-color: var(--CircleColor);
  padding: 0;
  margin-right: 24px;
  margin-top: 51px;
}

.burger_menu {
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--MirageBlue);
  width: 80%;
  max-width: 500px;
  padding: 48px 24px;
  transition: 0.2s;
  min-height: 667px;
  height: 100vh;
  transform: translateX(100vw);
  overflow: hidden;
  z-index: 7;
}

.burger_menu_hidden {
  transform: translateX(0px);
}

.burger_menu_x_outer {
  display: flex;
  justify-content: end;
}

.burger_menu_x {
  width: fit-content;
  margin: 0;
  position: relative;
  margin-right: 2px;
}

.burger_menu_line {
  width: 249px;
  height: 1px;
  border: 1px solid var(--LinkWaterWhite);
  opacity: 0.15;
  margin-top: 22px;
  margin-bottom: 42px;
}

.burger_menu_list {
  position: relative;
  list-style-type: none;
  text-align: center;
  padding: 0;
  font-size: 20px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.burger_menu_list li {
  margin-bottom: 32px;
  width: fit-content;
}

.burger_menu_list a {
  text-decoration: none;
  color: var(--LinkWaterWhite);
  opacity: 0.7;
}

.schedule-a-demo-outer-burger {
  text-align: center;
  position: relative;
  z-index: 0;
}

.schedule-a-demo-burger {
  background-color: var(--DarkPink);
  border: none;
  width: 252px;
  height: 48px;
  border-radius: 24px;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  color: var(--LinkWaterWhite);
  text-align: center;
  font-weight: 700;
  letter-spacing: -0.115px;
  padding-top: 3px;
  padding-left: 10px;
  font-size: 15px;
  font-family: "Public Sans", sans-serif;
}

/* >>>>>>>>>>>>>>>>> Header <<<<<<<<<<<<<<<<<< */

.header_phone {
  text-align: center;
  margin-top: 28px;
}

.header_phone img {
  filter: drop-shadow(25px 25px 80px rgba(54, 83, 107, 0.3));
}

header h1 {
  font-family: "DM Serif Display", serif;
  font-size: 32px;
  color: var(--SanJuanBlue);
  margin: 20px 24px 24px 24px;
  text-align: center;
  line-height: 36px;
  letter-spacing: -0.246px;
  font-weight: 700;
  padding: 0px 2px;
}

.header_form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header_form input {
  border: none;
  outline: none;
  border-radius: 24px;
  background: var(--LinkWaterWhite);
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  width: 327px;
  height: 48px;
  color: var(--SanJuanBlue);
  font-size: 15px;
  font-weight: 700;
  padding: 0px 27px;
  padding-top: 4px;
  margin-bottom: 16px;
}

.header_form input::placeholder {
  color: var(--SanJuanBlue);
  opacity: 0.5;
}

.schedule-a-demo {
  background-color: var(--DarkPink);
  border: none;
  width: 327px;
  height: 48px;
  border-radius: 24px;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  color: var(--LinkWaterWhite);
  text-align: center;
  font-weight: 700;
  letter-spacing: -0.115px;
  padding-top: 2px;
  padding-left: 8px;
  font-size: 15px;
  font-family: "Public Sans", sans-serif;
}

header p {
  color: var(--LightSanJuanBlue);
  text-align: center;
  margin-top: 24px;
  margin-bottom: 80px;
  padding-right: 4px;
}

header span {
  color: var(--LightSanJuanBlue);
  font-weight: 700;
}

/* >>>>>>>>>>>>>> Partners Section  <<<<<<<<<<<<<<<<<<< */

.partners_section {
  background-color: var(--MirageBlue);
  position: relative;
  overflow: hidden;
  padding: 80px 18px;
}

.ps_logos_section {
  position: relative;
  z-index: 5;
  margin: 0 24px;
}

.ps_logos_section div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ps_logos_section div:nth-child(1) {
  gap: 50px;
}

.ps_logos_section div:nth-child(2) {
  margin: 39px 0;
  gap: 57px;
}

.ps_logos_section div:nth-child(3) {
  gap: 72px;
}

.partners_section h2 {
  color: var(--LinkWaterWhite);
  text-align: center;
  font-family: "DM Serif Display", serif;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -0.246px;
  margin: 56px 11px 17px 11px;
  letter-spacing: 0.1px;
  word-spacing: -1px;
}

.partners_section p {
  color: var(--LinkWaterWhite);
  text-align: center;
  line-height: 28px;
  opacity: 0.7;
  margin-top: 0;
}

.ps_about_us {
  margin-top: 60px;
  text-align: center;
}

.ps_about_us button {
  width: 129px;
  height: 48px;
  border-radius: 24px;
  border: 1px solid var(--LinkWaterWhite);
  background-color: rgba(255, 0, 0, 0);
  color: var(--LinkWaterWhite);
  text-align: center;
  font-weight: 700;
  letter-spacing: 0.415px;
  position: relative;
  padding-top: 4px;
  word-spacing: 1px;
}

/* >>>>>>  api logo <<<<<<<<<< */

.api_section {
  padding: 0 18px;
  margin-top: 80px;
}

.api_logo {
  text-align: center;
}

.api_section h2 {
  color: var(--SanJuanBlue);
  text-align: center;
  font-family: "DM Serif Display", serif;
  font-size: 36px;
  line-height: 36px;
  margin-top: 45px;
  margin-bottom: 22px;
  letter-spacing: -0.277px;
}

.api_section p {
  color: var(--LightSanJuanBlue);
  text-align: center;
  line-height: 28px;
  margin-bottom: 80px;
}

.api_section img {
  filter: drop-shadow(25px 25px 80px rgba(54, 83, 107, 0.3));
}

.dual_phones {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 79px;
  margin-bottom: 50px;
}

/* >>>>>>> Pricing Cards <<<<<< */

.pricing_cards_section {
  text-align: center;
  padding: 0 18px;
}

.pricing_cards_section h3 {
  color: var(--SanJuanBlue);
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: -0.138px;
  margin-top: 31px;
  margin-bottom: 14px;
  word-spacing: 1.5px;
}

.pricing_cards_section h3:nth-child(5),
.pricing_cards_section h3:nth-child(8) {
  margin-top: 29px;
}

.pricing_cards_section p {
  color: var(--LightSanJuanBlue);
  text-align: center;
  line-height: 25px;
  margin-bottom: 49px;
  padding: 0px 5px;
  letter-spacing: -0.115px;
}

/*  >>>>>> Footer <<<<<<< */

.footer_black {
  background-color: var(--MirageBlue);
  text-align: center;
  padding: 41px 20px 55px 20px;
  position: relative;
  overflow: hidden;
}

.footer_list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 37px 0;
}

.footer_list li {
  width: fit-content;
}

.footer_list li:nth-child(2) {
  margin: 31px 0;
}

.footer_list a {
  text-decoration: none;
  color: var(--LinkWaterWhite);
  font-weight: 700;
  opacity: 0.7;
}

footer h2 {
  color: var(--SanJuanBlue);
  text-align: center;
  font-family: "DM Serif Display", serif;
  font-size: 32px;
  line-height: 36px;
  letter-spacing: -0.246px;
  margin-top: 80px;
  margin-bottom: 32px;
}

footer form {
  margin-bottom: 80px;
}

.social_media {
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.social_media a {
  display: grid;
  align-items: center;
  margin-top: 4px;
}

/*   >>>>>>>> Hover states <<<<<<<<<< */

/* >>>>>>>>>>> Active states <<<<<<<<<<<<< */

.pay_api_logo:active,
.footer_api_logo img:active,
.burger_button:active,
.burger_menu_x:active {
  transform: translateY(4px);
}

.burger_menu_list li:active,
.schedule-a-demo-burger:active,
.schedule-a-demo:active,
.ps_about_us button:active,
.social_media a:active,
.footer_list li:active {
  transform: translateY(2px);
}

/* .circle_top {
  left: calc((100vw - 780px) / 2);
}

.circle_burger_menu {
  left: calc((100vw - 780px) / 2 - 20.2vw);
}

@media only screen and (min-width: 625px) {
  .circle_burger_menu {
    left: calc((-255px - ((100vw - 625px)) * 0.7042253521126761));
    left: -255px;
  }
} */

@media (hover: hover) {
  .pay_api_logo:hover,
  .footer_api_logo img:hover,
  .burger_button:hover,
  .burger_menu_x:hover {
    transform: translateY(2px);
    cursor: pointer;
  }

  .burger_menu_list a:hover,
  .footer_list a:hover {
    opacity: 1;
  }

  .schedule-a-demo-burger:hover,
  .schedule-a-demo:hover {
    cursor: pointer;
    background-color: var(--CharmPink);
  }

  .header_form input:hover {
    cursor: pointer;
  }

  .social_media a:hover {
    cursor: pointer;
  }

  .ps_about_us button:hover {
    color: var(--MirageBlue);
    background-color: var(--LinkWaterWhite);
    cursor: pointer;
  }

  .social_media img:hover {
    filter: invert(33%) sepia(75%) saturate(701%) hue-rotate(290deg)
      brightness(91%) contrast(88%);
  }

  .footer_list li:hover {
    z-index: 2;
  }

  .footer_list a:hover {
    z-index: 2;
  }
}
